* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Moirai One', cursive;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
      background-color: rgb(227, 113, 174);
      color: rgb(193, 193, 193);
      display: flex;
     
      border: 1px solid white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Barra de navegacion */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 2rem;
    flex-wrap: wrap;
    font-size: 1.10rem;
  }
  
  nav h1 {
    color: black;
    text-align: left;
    font-family: 'Moirai One', cursive;
    font-size: 3rem;
  }
  
  nav h1:hover {
    color:  rgb(232, 87, 174);
  }
  
  
  .left a {
    text-decoration: none;
    
  }
  
  .right a {
    text-decoration: none;
    color: rgb(232, 87, 174);
    transition: 200ms all ease-in-out;
  }
  
  .right a:hover {
    color: rgb(167, 87, 232);
  }
  
  .right a:active {
    color: rgb(255, 187, 0);
  }
  
  nav div {
    width: 50%;
    min-width: 300px;
  }
  
  .right ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-weight: bold;
  }
  
  /* Body */
  
  h1 {
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: 3px;
      font-weight: 900;
      max-width: 300px;
      
      
  }
  
  h2 {
      color:rgb(123, 111, 75);
      font-size: 2rem;
      text-align: center;
  }
  
  h3 {
      color: blanchedalmond;
      font-size: 1.5rem;
  }
  
  span {
      color: rgb(42, 42, 42);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: dotted;
  }
  
  p {
      text-align: center;
      line-height: 2rem;
      width: 30%;
  }
  
  img {
      width: 40%;
      border: 6px solid white;
  }
  
  .container {
      background-color: rgb(247, 190, 104);
      border: 10px solid white;
      color: rgb(123, 105, 69);
      padding: 5rem 1rem;
      margin: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    
  }

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 50%;
}

label {
    width: 100%;
    padding: 10px 1px;
    text-align: left;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

input {
    border: none;
    border-radius: 9%;
    padding: 2%;
    background-color: rgb(255, 222, 172);
}
  
.boton {
      background-color: rgb(212, 0, 113);
      font-size: 1.5rem;
      border-radius: 6%;
      letter-spacing: 3px;
      padding: 5%;
      color: white;
      border: none;
      margin: 6%;
  }
  
  .boton:active:hover {
      background-color: rgb(52, 195, 1);
      color: black;
  }
  
  
  
  
    @media (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }
  
    